input, select {
  padding: 6px;
  font-family: inherit;
  font-size: inherit;
}

td, th {
  border: 1px solid lightgray;
  padding: 6px;
  min-width: 50px;
  text-align: center;
}

th:first-child {
  text-align: right;
}

td.highlighted {
  background-color: lightgreen;
}

select.big {
  height: 100%;
  min-width: 120px;
  font-size: 3rem;
  text-align: center;
}

input[type="number"] {
  width: 80px;
}
